#Mandatory Project Questions

**Python Project 101**

Q1: You are working in a bank, and you have been given two lists of the employees who worked in 2021. Employees’ names in list 1 are Ramesh, Suresh, Mahesh, Ali, Jacob, and Saritha. List 2 contains the names of Ali, Mukesh, Mahesh, Jacob, Sai, and Sarita. Please write a program that helps to identify people who are common in both lists. Please do not use any in-built function.

In [15]:
list1=['Ramesh','Suresh','Mahesh','Ali','Jacob','Saritha']
list2=['Ali','Mukesh', 'Mahesh','Jacob','Sai','Sarita']
common_employees=[]

# Find common employees in both list
for emp1 in list1:
  for emp2 in list2:
    if emp1==emp2:
      common_employees.append(emp1)
      break
print(common_employees)

['Mahesh', 'Ali', 'Jacob']

Q2: While entering data, someone entered a few names as a common string “Ramesh Suresh Mohit”. Please write a program which separates all the names and converts them into a list. Once converted into a list, please write a program that adds their age.

Ramesh:  25

Suresh: 22

Mohit: 26

In [25]:
common_name_string =  "Ramesh Suresh Mohit"

# Converting common names into a list

common_name_list = common_name_string.split()

# Dictionary mapping names to ages

ages_dict = {"Ramesh": 25,"Suresh": 22,"Mohit": 26}

# Adding ages of the common names

Total_age = 0
for name in common_name_list:
  if name in ages_dict:
    Total_age+=ages_dict[name]

    #Result

print("Names List:", common_name_list)
print("Total Age of Common Names:", Total_age)

Names List: ['Ramesh', 'Suresh', 'Mohit']
Total Age of Common Names: 73

Q3: You are working in a medical store. A patient came to your medical store and asked to buy 2 strips of paracetamol, 3 strips of azithromycin, and 5 strips of Vitamin C. One strip of paracetamol costs Rs 35, one strip of azithromycin costs Rs 49, and one strip of vitamin c costs Rs. 33. Patient gave you Rs 2000. Please tell us what is the total cost of each medicine, the total cost of all medicine, and how much money you refunded to the patient.

In [29]:
# Medicine Prices

paracetamol_price = 35
azithromycin_price = 49
vitamin_c_price = 33

# Quantities requested by the patient

paracetamol_quantity = 2
azithromycin_quantity = 3
vitamin_c_quantity = 5

# Given amount of money from the patient
amount_paid = 2000

# Calculate total cost of each medicine

Total_cost_of_paracetamol = paracetamol_price * paracetamol_quantity
Total_cost_of_azithromycin = azithromycin_price * azithromycin_quantity
Total_cost_of_vitamin_c = vitamin_c_price * vitamin_c_quantity

# cost of all medicines

total_cost_of_all_medicines = Total_cost_of_paracetamol + Total_cost_of_azithromycin + Total_cost_of_vitamin_c

#amount refund to patient

Refund_amount = amount_paid - total_cost_of_all_medicines

#print the results

print('Total cost of paracetamol:',Total_cost_of_paracetamol)
print('Total cost of azithromycin:',Total_cost_of_azithromycin)
print('Total cost of vitamin_c:',Total_cost_of_vitamin_c)
print('Total cost of all medicines:',total_cost_of_all_medicines)
print('Refund amount:',Refund_amount)

Total cost of paracetamol: 70
Total cost of azithromycin: 147
Total cost of vitamin_c: 165
Total cost of all medicines: 382
Refund amount: 1618

Q4: Accept a sentence as input and find the number of vowels in it. Assume that the sentence has no punctuation marks. For example, I am learning python contains 6 vowels. This function should be applicable for all other different sentences

In [40]:
def count_vowels(sentence):
  vowel = 'aeiouAEIOU'
  vowel_count =0
  for alph in sentence:
    if alph in vowel:
       vowel_count+=1
  return vowel_count

sentence =input('Enter a sentence:')
num_vowels = count_vowels(sentence)
print('Number of vowels:',num_vowels)

Enter a sentence:i am good boy
Number of vowels: 5

Q5: You have been appointed by the election commission to create a website. Your first task is to work on a program which tells candidates if they are eligible for voting or not. If they are eligible, your output should be ‘Congrats! You are eligible’; otherwise, it should tell that you have to return after X number of years. The eligibility criteria for voting is 18 years.



For example, If someone is 18 or above, your output should be ‘Congrats! You are eligible’. If someone’s age is 15 years, it should print output as ‘return after 3 years’.

In [1]:
def voting_elig(age):
  if age >=18:
    return 'Congrats! You are eligible'
  else:
    waiting_years = 18 - age
    return 'return after {} years'.format(waiting_years)

age= int(input('Enter your age:')) # Accept candidate age
print(voting_elig(age)) # call the function to check eligibility of candidate

Enter your age:7
return after 11 years

Q6: Given a list of integers, find the cumulative sum of the elements of the list and store them in another list.



A = [1, 2, 3, 4, 5]



Output:

[1, 3, 6, 10, 15]

In [6]:
A = [1,2,3,4,5]
cumulative_sum= []
sum=0
for i in A:
  sum+=i
  (cumulative_sum.append(sum))

print(cumulative_sum)

[1, 3, 6, 10, 15]

Q7:

WAP to encode a message entered by user as per below conditions:



for every word in the sentence,

1. If the word starts with a vowel, encode it as the first and last letter of the word.

2. If the word starts with a consonant, remove all vowels from it.



Ensure the case insensitive comparisons/checks are performed.



Please enter your text:The quick brown fox used to sleep inside this box

Encoded Msg: Th qck brwn fx ud t slp ie ths bx

In [101]:
# Accept message from the user
message = input("Please enter your text: ")

# Split the message into words
words = message.split()

encoded_words = []

#apply loop through each word
for i in words:
    if i[0] in "aeiou":
        encoded_word = i[0] + i[-1]
    else:
        encoded_word = ''.join( i for i in i if i[0] not in "aeiou")
    encoded_words.append(encoded_word)

# Join the encoded words to create the encoded message
encoded_message = ' '.join(encoded_words)

print("Encoded Msg:", encoded_message)

Please enter your text: The quick brown fox used to sleep inside this box
Encoded Msg: Th qck brwn fx ud t slp ie ths bx

Q8:

Write a program to implement run length encoding of a string



RLE:Consecutive repetition of a character has to be replaced with the count of occurrences and the character.



Enter your string :aabbbccdddae

Encoded: 2a3b2c3d1a1e

In [119]:
input_string ='aabbbccdddae'
encoded =''
l=len(input_string)
count =1
for i in range(1,l):
  if input_string[i] == input_string[i-1]:
    count+=1
  else:
    encoded += str(count)+input_string[i-1]
    count=1
encoded += str(count) + input_string[-1]
print(encoded)

2a3b2c3d1a1e